@import 'tailwindcss';

@theme {
  --color-theme-bg-light: #f8f8f8;
  --color-theme-bg-dark: #1e272e;
  --color-theme-fg-light: #a1a1a1;
  --color-theme-fg-dark: #607497;
  --color-theme-text-light: #2c3e50;
  --color-theme-text-dark: #e0f2f7;

  --color-secondary: #059aad;
  --color-warning: #dba802;
  --color-error: #ef5350;
  --color-info: #016999;
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes blink-success {
  0%,
  100% {
    background-color: theme(colors.info);
  }
  5% {
    background-color: transparent;
  }
}

@keyframes blink-error {
  0%,
  100% {
    background-color: theme(colors.error);
  }
  5% {
    background-color: transparent;
  }
}

html {
  scroll-behavior: smooth;
}

.blink-success {
  animation: blink-success 3s infinite;
}

.blink-error {
  animation: blink-error 3s infinite;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-color: theme(colors.theme-bg-light);
  color: theme(colors.theme-text-light);
}

.dark body,
html.dark body,
:root.dark body {
  background-color: theme(colors.theme-bg-dark);
  color: theme(colors.theme-text-dark);
}
